<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        type="file"
        formControlName="csvInput"
        (change)="fileChangeListener($event)"
        accept=".csv"
      />

      <mat-form-field>
        <mat-label>Smoothing Algorithm</mat-label>
        <mat-select formControlName="algorithm">
          <mat-option
            *ngFor="let algorithm of algorithms"
            [value]="algorithm.algorithmType"
          >
            {{ algorithm.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Periods</mat-label>
        <input
          matInput
          type="number"
          formControlName="periods"
          min="0"
          max="10"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Smoothing Factor</mat-label>
        <input
          matInput
          type="number"
          formControlName="smoothingFactor"
          min="0"
          max="1"
          step="0.1"
        />
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <p *ngIf="!chartData">Your Data will appear here after submitting</p>
    <canvas *ngIf="chartData" baseChart [data]="chartData"></canvas>
  </mat-card-content>
  <mat-card-actions *ngIf="chartData" align="end">
    <button mat-raised-button (click)="exportCSV()" color="primary">
      Export Baseline as CSV
    </button>
  </mat-card-actions>
</mat-card>
